openapi: 3.2.0
info:
  title: MadeiraMadeira Marketplace Frete API
  version: v1
  summary: Seller-facing marketplace API for products, categories, stock, price, shipping tables, orders, financial entries and seller-buyer messaging.
  description: 'Introdução


    Bem-vindo ao Marketplace MadeiraMadeira!'
  contact:
    name: MadeiraMadeira Marketplace
    url: https://www.madeiramadeira.com.br/marketplace
  x-derived-from: Public Postman collection "Marketplace MadeiraMadeira" published by MadeiraMadeira (documenter.getpostman.com/view/3341659/RztmqU19)
servers:
- url: https://marketplace.madeiramadeira.com.br
  description: Producao (production)
- url: https://marketplace-sandbox.madeiramadeira.com.br
  description: Sandbox
security:
- TOKENMM: []
tags:
- name: Frete
paths:
  /v1/frete/limit=100&offset=0:
    get:
      operationId: consultaTabelaDeFreteDoSellerComLimitEOffset
      summary: Consulta tabela de frete do seller com limit e offset
      tags:
      - Frete
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
components:
  schemas:
    Error:
      type: object
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
        errors:
          type: object
          properties:
            detail:
              type: string
      example:
        meta:
          count: 0
        errors:
          detail: Token not found
  securitySchemes:
    TOKENMM:
      type: apiKey
      in: header
      name: TOKENMM
      description: Seller token issued in the Portal Marketplace under Administracao > Integracao. Bound to the seller account; requires a completed registration with signed Terms and Conditions.
    BearerJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT issued by the Mensageria auth endpoint (POST /v1/mensageria/auth/generate-token) via Keycloak, exchanged for an MMTOKEN. Used by the Mensageria (messaging) surface.
