openapi: 3.2.0
info:
  title: MadeiraMadeira Marketplace Produtos API
  version: v1
  summary: Seller-facing marketplace API for products, categories, stock, price, shipping tables, orders, financial entries and seller-buyer messaging.
  description: 'Introdução


    Bem-vindo ao Marketplace MadeiraMadeira!


    Estamos entusiasmados em tê-lo como parte do nosso ecossistema. Nosso objetivo é construir uma parceria sólida e impulsionar o crescimento mútuo. Juntos, alcançaremos novos patamares e proporcionaremos o melhor valor para nossos clientes.


    Agora que sua integração inicial foi concluída, você está habilitado a utilizar nossa API pública para enviar e atualizar informações essenciais, como:


    Produtos: Cadastro, edição e detalhamento de seu catálogo.


    Frete: Consulta para tabela de fretes e integração.


    Estoque: Controle de disponibilidade e reposição em tempo real.


    Status de Pedidos: Atualização contínua do ciclo de vida dos pedidos.


    Estamos à disposição para ajudá-lo com quaisquer dúvidas ou suporte técnico necessário. Vamos construir juntos uma experiência de sucesso!


    Use nossa documentação de referência de API para criar soluções personalizadas adequadas ao seu negócio.


    Autenticação


    Todas as requisições para recursos da API devem conter o token de autorização presente no header da request.


    Devem ser enviados da seguinte forma:


    Content-Type: application/json


    TOKENMM: {{TOKEN}}


    O token de autenticação é vinculado ao cadastro do Seller no Marketplace MadeiraMadeira. Para obter o token de acesso é necessário que o cadastro na plataforma esteja realizado e os Termos e Condições estejam assinados.


    O token estará disponível no Portal Marketplace, menu Administração > Integração.


    Códigos de erros


    400 Erro no JSON enviado (Verificar estrutura e enviar novamente)


    401 Ausência de um dos Tokens no header ou token não existe


    403 Token revogado ou inválido


    404 Desculpe não atendemos sua região. (Quando o Seller não atende a região cotada para frete).


    405 Método de requisição, inválido. (Quando um endpoint não aceita o método em questão)


    422 Produto com este EAN ou SKU já cadastrado para ser processado


    500 Erro interno de servidor, solicitar suporte para a equipe da Madeira Madeira


    Integração de frete


    Com o Marketplace MadeiraMadeira o Seller terá 2 opções de calculo de frete.


    Integração de frete (Cálculo de frete através da plataforma do Seller)


    Tabelas de frete na plataforma da MadeiraMadeira


    A MadeiraMadeira poderá fazer o cálculo de frete para o Seller, utilizando as tabelas que você incluir em nossa plataforma.


    O Seller poderá trabalhar apenas com uma ou várias tabelas de frete.


    O Seller poderá cadastrar várias tabelas de frete informado no produto qual tabela que deseja utilizar no cálculo de frete.


    Você poderá cadastrar e atualizar as tabelas de frete em qualquer momento através de nossa API.


    É obrigatório ter uma tabela de "Contingência" para a loja do Seller ser liberada.


    Integração de Frete

    O Seller poderá utilizar sua plataforma para fazer o calculo de frete. A MadeiraMadeira exige um nível de disponibilidade de 85%, isso poderá ser consultado no Dashboard do Seller. O tempo máximo de resposta para o frete será de 1500 ms.


    Ambientes


    Produção: https://marketplace.madeiramadeira.com.br


    Sandbox: https://marketplace-sandbox.madeiramadeira.com.br


    Substituir {{WMENV}} pelo Ambiente desejado


    Limites de Requisições


    Para garantir a estabilidade e o desempenho de nossa API pública, implementamos mecanismos de validação que monitoram o consumo de nossos endpoints, essas medidas são projetadas para evitar o uso indevido e excessivo, promovendo uma experiência equilibrada para todos os usuários.


    Em casos extremos, quando padrões de uso abusivo são detectados, podemos bloquear temporariamente as requisições por um curto período, essa ação é necessária para proteger a integridade da API e preservar o acesso de outros usuários


    Existem limites de registros a serem retornados e/ou enviados por requisições GET/PUT/POST/DELETE'
  contact:
    name: MadeiraMadeira Marketplace
    url: https://www.madeiramadeira.com.br/marketplace
  x-derived-from: Public Postman collection "Marketplace MadeiraMadeira" published by MadeiraMadeira (documenter.getpostman.com/view/3341659/RztmqU19)
servers:
- url: https://marketplace.madeiramadeira.com.br
  description: Producao (production)
- url: https://marketplace-sandbox.madeiramadeira.com.br
  description: Sandbox
security:
- TOKENMM: []
tags:
- name: Produtos
paths:
  /v1/produto:
    post:
      operationId: enviaUmOuMaisProdutos
      summary: Envia um ou mais produtos
      tags:
      - Produtos
      x-postman-folder: Produtos / Cadastro / Atualização
      description: Método responsável por enviar um ou mais produtos para processo de análise e publicação de produtos.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
            - id_categoria: 165
              nome: Coifa de Parede Prisma 60cm - Inox - Tramontina 110V
              descricao: Coifa de Parede Prisma 60cm - Inox - Tramontina 110VTeste de descrição
              ean: '7894693028105'
              sku: '7894693028105'
              marca: Tramontina
              preco_de: 1273.86
              preco_por: 1270
              estoque: 100
              altura: 32
              largura: 57
              profundidade: 66
              peso: 12
              imagens:
              - https://cdn2.madeiramadeira.com.br/coifa-de-parede-prisma-60cm-inox-tramontina-110v.jpg
              atributos:
              - nome: Marca
                valor: Tramontina
              - nome: Material/Composição
                valor: Inox
              - nome: Indicado para quais tipos de fogões
                valor: Com até 60 cm largura
              - nome: Motor
                valor: Não informado pelo fornecedor.
              - nome: Vazão máxima (m3/h)
                valor: 700m3/h
              - nome: Corrente (A)
                valor: Não informado pelo fornecedor.
              - nome: Pressão
                valor: Não informado pelo fornecedor.
              - nome: Consumo (Kw/h)
                valor: 0,3KW/h (110V) e 0,23Kw/h (220V)
              - nome: Potência (w)
                valor: 260W (110V) e 190W (220V)
              - nome: Cor
                valor: Inox
              - nome: Iluminação
                valor: Sim
              - nome: Velocidades
                valor: 3 velocidades
              - nome: Hélice
                valor: Não
              - nome: Regulador de altura
                valor: Sim
              - nome: Máscara captadora de ar
                valor: Não
              - nome: Baixo nível de ruído
                valor: Sim
              - nome: Função depurador
                valor: Sim
              - nome: Função exaustor
                valor: Sim
              - nome: Filtros
                valor: Sim
              - nome: Grade interna / externa
                valor: Não
              - nome: Conteúdo da embalagem
                valor: 1 Coifa, Flange de conexão do tubo Ø150 mm, Tubo flexível Ø150 mm, Filtro de carvão ativado, Chaminé inferior, Chaminé superior, Parafusos de fixação, Buchas plásticas, Suporte tipo gancho (fixação corpo da coifa), Suporte fixação chaminé [inferior (fixo) superior (ajustável)], Gabarito para fixação e Manual de Instruções
              - nome: Voltagem
                valor: 'Voltagem: 110V ou 220V (não é bivolt)'
              - nome: Dimensões aproximadas do produto - cm (AxLxP)
                valor: 24,5x60x50 cm
              - nome: Peso aproximado do produto (Kg)
                valor: 11Kg
              - nome: Garantia do fornecedor
                valor: 12 meses
              - nome: Mais informações
                valor: Filtros de carvão ativo e metálico
              - nome: Modelo
                valor: Prisma 60cm
              - nome: Fornecedor
                valor: Tramontina
              - nome: SAC
                valor: '(11) 4197-1466 (São Paulo). Fax: (11) 4195-1485 (São Paulo) / (21) 2224-5004 (Rio de Janeiro)'
              unidade_fracionada: 1
              unidade: unidade
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
    put:
      operationId: atualizaProdutosPendentesParaProcessamento
      summary: Atualiza produtos Pendentes para processamento
      tags:
      - Produtos
      x-postman-folder: Produtos / Cadastro / Atualização
      description: Este método deve ser utilizado exclusivamente para atualização de produtos reprovados
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
            - id_categoria: 50
              nome: Cadeira Charles Eames Eiffel Dkr Wood - Design - Amarela
              descricao: " Cadeira Charles Eames Eiffel Dkr Wood - Base De Madeira As cadeiras Eiffel são importantes itens para a sua decoração. Independente da proposta, a decoração da sua residência merece contar com artigos decorativos e móveis de altíssima qualidade. A Cadeira Charles Eames Eiffel Wood Base Madeira possui um design exclusivo, belo e cheio de charme. Feitas em materiais de elevada procedência, as cadeiras deste conjunto contam com um modelo especial, desenvolvido na metade do século passado pelo casal E.<br />\n "
              sku: '162'
              ean: '7908067201015'
              marca: Império Brazil
              preco_de: 199.0
              preco_por: 180
              altura: 82
              largura: 46
              profundidade: 54
              peso: 4
              estoque: 50
              imagens:
              - https://cdn2.madeiramadeira.com.br/cadeira-charles-eames-eiffel-dkr-wood-design-amarela1.jpg
              atributos:
              - nome: Modelo
                valor: Charles Eames Eiffel
              - nome: Material da Estrutura
                valor: Madeira e Metal
              tipo_entrega: Postal
              username: Edward Fernandes
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/produto/pendente/bulk:
    put:
      operationId: atualizaPrecoEstoqueEFreteDeProdutosPendentes
      summary: Atualiza preço, estoque e frete de produtos Pendentes
      tags:
      - Produtos
      x-postman-folder: Produtos / Cadastro / Atualização
      description: Neste método pode-se enviar somente os dados que necessitam de alteração/atualização no body da requisição
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
            - sku: '123'
              estoque: 170
              preco_de: 120.99
              preco_por: 110
              tipo_entrega: Postal
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/categoria/limit=100&offset=0:
    get:
      operationId: consultaArvoreDeCategorias
      summary: Consulta árvore de categorias
      tags:
      - Produtos
      x-postman-folder: Produtos / Cadastro / Atualização
      description: 'Listagem de todas as categorias liberadas para serem enviadas.

        A Informação que deve ser enviada no produto é o "id_categoria" os níveis de categoria não devem ser utilizadas.'
      responses:
        '200':
          description: Consulta árvore de categorias
          content:
            application/json:
              example:
                meta:
                  count: '2378'
                data:
                - id_categoria: '1'
                  id_nivel_1: '560'
                  nivel_1: Aquecedor Solar
                  id_nivel_2: '562'
                  nivel_2: Coletor Solar / Placa
                  id_nivel_3: '0'
                  nivel_3: ''
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1273'
                  nome_completo_fc: Ar e Ventilação / Aquecedores de Água / Coletores Solares
                  comissionamento: '19.99'
                - id_categoria: '2'
                  id_nivel_1: '560'
                  nivel_1: Aquecedor Solar
                  id_nivel_2: '563'
                  nivel_2: Controlador Digital
                  id_nivel_3: '0'
                  nivel_3: ''
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1275'
                  nome_completo_fc: Ar e Ventilação / Aquecedores de Água / Controladores Digitais
                  comissionamento: '19.99'
                - id_categoria: '3'
                  id_nivel_1: '560'
                  nivel_1: Aquecedor Solar
                  id_nivel_2: '561'
                  nivel_2: Reservatório Térmico / Boiler
                  id_nivel_3: '0'
                  nivel_3: ''
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1274'
                  nome_completo_fc: Ar e Ventilação / Aquecedores de Água / Boilers
                  comissionamento: '19.99'
                - id_categoria: '4'
                  id_nivel_1: '836'
                  nivel_1: Ar e Ventilação
                  id_nivel_2: '1569'
                  nivel_2: Aquecedores de Ambiente
                  id_nivel_3: '0'
                  nivel_3: ''
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '805'
                  nome_completo_fc: Aquecedor de Ambiente
                  comissionamento: '19.99'
                - id_categoria: '5'
                  id_nivel_1: '836'
                  nivel_1: Ar e Ventilação
                  id_nivel_2: '1438'
                  nivel_2: Ar Condicionado
                  id_nivel_3: '1582'
                  nivel_3: Janela
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1986'
                  nome_completo_fc: Ar e Ventilação / Ar Condicionado / Janela
                  comissionamento: '19.99'
                - id_categoria: '6'
                  id_nivel_1: '836'
                  nivel_1: Ar e Ventilação
                  id_nivel_2: '1438'
                  nivel_2: Ar Condicionado
                  id_nivel_3: '1442'
                  nivel_3: Split
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1849'
                  nome_completo_fc: Ar e Ventilação / Ar Condicionado / Split
                  comissionamento: '19.99'
                - id_categoria: '7'
                  id_nivel_1: '836'
                  nivel_1: Ar e Ventilação
                  id_nivel_2: '1438'
                  nivel_2: Ar Condicionado
                  id_nivel_3: '1579'
                  nivel_3: Split Piso Teto
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1972'
                  nome_completo_fc: Ar e Ventilação / Ar Condicionado / Split Piso Teto
                  comissionamento: '19.99'
                - id_categoria: '8'
                  id_nivel_1: '836'
                  nivel_1: Ar e Ventilação
                  id_nivel_2: '973'
                  nivel_2: Circuladores de Ar
                  id_nivel_3: '0'
                  nivel_3: ''
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1823'
                  nome_completo_fc: Ar e Ventilação / Circuladores de Ar
                  comissionamento: '19.99'
                - id_categoria: '9'
                  id_nivel_1: '836'
                  nivel_1: Ar e Ventilação
                  id_nivel_2: '993'
                  nivel_2: Cortinas de Ar
                  id_nivel_3: '0'
                  nivel_3: ''
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1912'
                  nome_completo_fc: Ar e Ventilação / Cortinas de Ar
                  comissionamento: '19.99'
                - id_categoria: '10'
                  id_nivel_1: '836'
                  nivel_1: Ar e Ventilação
                  id_nivel_2: '837'
                  nivel_2: Exaustores
                  id_nivel_3: '0'
                  nivel_3: ''
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1124'
                  nome_completo_fc: Ar e Ventilação / Exaustores
                  comissionamento: '19.99'
                errors: []
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/categoria/limit={limit}&offset={offset}&nome={nome}:
    get:
      operationId: consultaArvoreDeCategoriasPorNome
      summary: Consulta árvore de categorias por nome
      tags:
      - Produtos
      x-postman-folder: Produtos / Cadastro / Atualização
      description: Consulta categorias por nome
      parameters:
      - name: limit
        in: path
        required: true
        schema:
          type: string
      - name: offset
        in: path
        required: true
        schema:
          type: string
      - name: nome
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/produto/aenriquecer/{sku}:
    get:
      operationId: buscaUmProdutoQueEstaAguardandoEnriquecimentoPeloSeuSku
      summary: Busca um produto que está aguardando enriquecimento, pelo seu sku
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Aguardando enriquecimento
      parameters:
      - name: sku
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
      deprecated: true
      description: 'DEPRECATED: MadeiraMadeira states the "A Enriquecer / Em Enriquecimento" stage methods are deprecated and will be removed from the API.'
  /v1/produto/aenriquecer/limit={limit}&offset={offset}:
    get:
      operationId: buscaProdutosAguardandoEnriquecimentoComLimitEOffset
      summary: Busca produtos aguardando enriquecimento, com limit e offset
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Aguardando enriquecimento
      parameters:
      - name: limit
        in: path
        required: true
        schema:
          type: string
      - name: offset
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
      deprecated: true
      description: 'DEPRECATED: MadeiraMadeira states the "A Enriquecer / Em Enriquecimento" stage methods are deprecated and will be removed from the API.'
  /v1/produto/enriquecendo/{sku}:
    get:
      operationId: buscaUmProdutoQueEstaEmEnriquecimentoPeloSeuSku
      summary: Busca um produto que está em enriquecimento, pelo seu sku
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Em enriquecimento
      parameters:
      - name: sku
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
      deprecated: true
      description: 'DEPRECATED: MadeiraMadeira states the "A Enriquecer / Em Enriquecimento" stage methods are deprecated and will be removed from the API.'
  /v1/produto/enriquecendo/limit={limit}&offset={offset}:
    get:
      operationId: buscaProdutosEmEnriquecimentoComLimitEOffset
      summary: Busca produtos em enriquecimento, com limit e offset
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Em enriquecimento
      parameters:
      - name: limit
        in: path
        required: true
        schema:
          type: string
      - name: offset
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
      deprecated: true
      description: 'DEPRECATED: MadeiraMadeira states the "A Enriquecer / Em Enriquecimento" stage methods are deprecated and will be removed from the API.'
  /v1/produto/aprocessar/{sku}:
    get:
      operationId: buscaUmProdutoAguardandoProcessamentoPeloSeuSku
      summary: Busca um produto aguardando processamento pelo seu sku
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Em processamento
      parameters:
      - name: sku
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/produto/aprocessar/limit={limit}&offset={offset}:
    get:
      operationId: buscaProdutosAguardandoProcessamentoComLimitEOffset
      summary: Busca produtos aguardando processamento com limit e offset
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Em processamento
      parameters:
      - name: limit
        in: path
        required: true
        schema:
          type: string
      - name: offset
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/produto/reprovado/{sku}:
    get:
      operationId: buscaUmProdutoReprovadoPeloSeuSku
      summary: Busca um produto reprovado pelo seu sku
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Reprovados
      parameters:
      - name: sku
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Busca um produto reprovado pelo seu sku
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/produto/reprovado/limit={limit}&offset={offset}:
    get:
      operationId: buscaProdutosReprovadosComLimitEOffset
      summary: Busca produtos reprovados com limit e offset
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Reprovados
      parameters:
      - name: limit
        in: path
        required: true
        schema:
          type: string
      - name: offset
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/produto/divergente/{sku}:
    get:
      operationId: buscaUmProdutoComDivergenciaDeInformacaoDeMatchPeloSeuSku
      summary: Busca um produto com divergência de informação de match pelo seu sku
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Erro de match
      parameters:
      - name: sku
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/produto/divergente/limit={limit}&offset={offset}:
    get:
      operationId: buscaProdutosComDivergenciaDeInformacoesDeMatchComLimitEOffset
      summary: Busca produtos com divergência de informações de match com limit e offset
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Erro de match
      parameters:
      - name: limit
        in: path
        required: true
        schema:
          type: string
      - name: offset
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/produto/aguardando/{sku}:
    get:
      operationId: buscaUmProdutoAguardandoAprovacaoPeloSeuSku
      summary: Busca um produto aguardando aprovação pelo seu sku
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Aguardando validação
      parameters:
      - name: sku
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/produto/aguardando/limit={limit}&offset={offset}:
    get:
      operationId: buscaProdutosAguardandoAprovacaoComLimitEOffset
      summary: Busca produtos aguardando aprovação com limit e offset
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Aguardando validação
      parameters:
      - name: limit
        in: path
        required: true
        schema:
          type: string
      - name: offset
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/produto/naocomercializado/{sku}:
    get:
      operationId: buscaUmProdutoNaoComercializadoPeloSeuSku
      summary: Busca um produto não comercializado, pelo seu sku
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Não comercializados
      parameters:
      - name: sku
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/produto/naocomercializado/limit={limit}&offset={offset}:
    get:
      operationId: buscaProdutosNaoComercializadosComLimitEOffset
      summary: Busca produtos não comercializados, com limit e offset
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Não comercializados
      parameters:
      - name: limit
        in: path
        required: true
        schema:
          type: string
      - name: offset
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/produto/empublicacao/{sku}:
    get:
      operationId: buscaUmProdutoQueEstaEmPublicacaoPeloSeuSku
      summary: Busca um produto que está em publicação, pelo seu sku
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Em publicação
      parameters:
      - name: sku
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/produto/empublicacao/limit={limit}&offset={offset}:
    get:
      operationId: buscaProdutosEmPublicacaoComLimitEOffset
      summary: Busca produtos em publicação, com limit e offset
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes / Em publicação
      parameters:
      - name: limit
        in: path
        required: true
        schema:
          type: string
      - name: offset
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
  /v1/produto/situacao/pendentes/limit=100&offset=0:
    get:
      operationId: buscaTodosOsProdutosPendentes
      summary: Busca todos os produtos pendentes
      tags:
      - Produtos
      x-postman-folder: Produtos / Em Fila / Pendentes
      responses:
        '200':
          description: Busca produtos publicados com limit e offset
          content:
            application/json:
              example:
                meta:
                  count: '707'
                data:
                - id_produto_seller: '182'
                  id_produto: '1000194'
                  id_categoria: '279'
                  nivel_1: Eletrodomésticos
                  nivel_2: Cooktops, Fogões e Fornos
                  nivel_3: Cooktop e Fogão
                  nivel_4: Fogão
                  nivel_5: ''
                  nivel_6: ''
                  nivel_7: ''
                  nome: Fogão Havana Inox 4 bocas
                  descricao: O fogão Havana é moderno, bonito e prático. A mesa top control torna muito mais agradável a experiência de cozinhar. Os manípulos removíveis e integrados à mesa são fáceis de limpar. Essa praticidade você também encontra no forno esmaltado Limpa Fácil, que facilita a remoção de sujeira na superfície do forno. Acendimento automático, trempe dupla e plana, tampa de vidro alinhadas com as trempes, visor duplo da porta do forno, acabamento em inox, 2 Queimadores Ramal de 1,7kW e 2 Queimadores Família de 2,0kW.
                  ean: '7897180501648'
                  marca: Atlas
                  altura: '133.20000'
                  largura: '59.00000'
                  profundidade: '50.00000'
                  peso: '19.00000'
                  imagens:
                  - https://cdn2.madeiramadeira.com.br/fogao-havana-inox-4-bocas.jpg
                  - https://cdn2.madeiramadeira.com.br/fogao-havana-inox-4-bocas.jpg
                  - https://cdn2.madeiramadeira.com.br/fogao-havana-inox-4-bocas.jpg
                  video: ''
                  atributos:
                  - nome: Cor
                    valor: Inox
                  - nome: Tipo de fogão
                    valor: À gás
                  - nome: Marca
                    valor: Atlas
                  - nome: Quantidade de bocas
                    valor: '4'
                  id_seller: '70'
                  preco_de: '600.00'
                  preco_por: '499.90'
                  estoque: '21.00'
                  sku: 09991
                  tipo_entrega: Postal
                  status: '1'
                  historico_validacao: '[]'
                  score: '0.00000'
                  datahora_criacao: '2018-02-06 18:54:58'
                  datahora_alteracao: '2018-02-20 16:46:59'
                  url: /fogao-havana-inox-4-bocas-1000194.html
                - id_produto_seller: '234'
                  id_produto: '1000213'
                  id_categoria: '11'
                  nivel_1: Móveis
                  nivel_2: Armários e Balcões
                  nivel_3: Criados-Mudos
                  nivel_4: ''
                  nivel_5: ''
                  nivel_6: ''
                  nivel_7: ''
                  nome: Piso Laminado Eucafloor Prime 7mmx19,7cmx1,35m (m²)
                  descricao: "Piso Laminado Eucafloor Prime 7mmx19,7cmx1,35m (mÂ²) - caixa com 2,14m2 - Fresno DecapÃª.\n Bonito, prÃ¡tico e fÃ¡cil de limpar. A opÃ§Ã£o ideal para residÃªncias. A linha prime Ã© uma Ã³tima soluÃ§Ã£o para revestimento de ambientes residenciais de trÃ¡fego mÃ©dio. Tem padrÃµes inovadores e 7 mm de espessura, alÃ©m de 12 anos de garantia."
                  ean: '7898425487130'
                  marca: Eucafloor
                  altura: '0.07000'
                  largura: '19.70000'
                  profundidade: '135.70000'
                  peso: '5.60000'
                  imagens:
                  - https://cdn2.madeiramadeira.com.br/piso-laminado-eucafloor-prime-7mmx19-7cmx1-35m-m2-1.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-laminado-eucafloor-prime-7mmx19-7cmx1-35m-m2-2.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-laminado-eucafloor-prime-7mmx19-7cmx1-35m-m2-3.jpg
                  video: 3VHDK8su9w4
                  atributos:
                  - nome: Caixa
                    valor: 2,14m2
                  - nome: Acabamento
                    valor: Liso
                  - nome: Acabamento
                    valor: Filme melamínico
                  - nome: Acompanha Ficha Técnica
                    valor: Não
                  - nome: Acompanha Manual de Instalação
                    valor: Não
                  - nome: 'Ambientes Recomendados '
                    valor: Área Residencial
                  - nome: Aparência
                    valor: Madeira
                  - nome: Composição
                    valor: HPP
                  - nome: Comprimento
                    valor: 135,7 cm
                  - nome: Conforto térmico
                    valor: (5) Alto
                  - nome: Cor
                    valor: Fresno Decapê
                  - nome: Emissão de ruídos
                    valor: (5) Alta
                  - nome: Escala de Brilho
                    valor: Baixo Brilho
                  - nome: Espessura
                    valor: 7 mm
                  - nome: Garantia do Fornecedor
                    valor: 10 anos
                  - nome: Hipoalergênico
                    valor: Sim
                  - nome: Informações Técnicas
                    valor: 'É possível combinar design, padrões e alturas dos Acessórios Eucafloor (rodapés e Linha Tecno) com todas as linhas dos Pisos Laminados Eucafloor.

                      A cor deste piso combina com os acessórios da Cor Madeirado Branco, como:

                      - Cordão Eucafloor 15 mm x 2,6 cm x 1,80 m (Barra) Cor Madeirado Branco

                      - Perfil Redutor Tecno Eucafloor 9,7 mm x 4,5 cm x 1,00 m (Barra) Cor Madeirado Branco

                      - Junta de Dilatação Tecno Eucafloor 9,7 mm x 3,4 cm x 1,00 m (Barra) Cor Madeirado Branco

                      - Rodapé Eucafloor 12 mm x 5 cm x 1,80 m (Barra) Cor Madeirado Branco

                      - Rodapé Eucafloor 14 mm x 7 cm x 1,80 m (Barra) Cor Madeirado Branco

                      - Rodapé Composit Eucafloor 18 mm x 8 cm x1,80 m (Barra) Cor Madeirado Branco

                      - Frontal de Escada Tecno Eucafloor 10 mm x 4 cm x 1,80 m (Barra) Cor Madeirado Branco

                      - Perfil Piso Parede Tecno Eucafloor 9,7 mm x 3 cm x 1,8 m (Barra) Cor Madeirado Branco

                      Além destas sugestões, existe também a Linha Composit de rodapés no padrão Cor Branco Max.'
                  - nome: Largura
                    valor: 19,7 cm
                  - nome: Meio ambiente
                    valor: 100% reflorestado - Ecologicamente correto
                  - nome: m² por caixa
                    valor: 2,14
                  - nome: País de Origem
                    valor: Nacional
                  - nome: Permite Reutilização
                    valor: Não permite relixar
                  - nome: Peso
                    valor: 5,6 kg/m²
                  - nome: Peso por Caixa
                    valor: 12,00 kgKg
                  - nome: Recomendações de Uso, Manutenção e Limpeza
                    valor: Para limpar o piso laminado eucafloor, deve-se utilizar um aspirador de pó, sem raspar o piso, vassoura de cerdas macias ou um pano torcido nas soluções dos produtos de limpeza doméstica, isentos de cera ou silicone.
                  - nome: Resistência
                    valor: Alta resistência. Produtos químicos podem danificar a superfície
                  - nome: Resistência ao Fogo
                    valor: Não
                  - nome: Tipo de Borda
                    valor: Retas
                  - nome: Tipo de Instalação
                    valor: Colado
                  - nome: Tipo de Piso
                    valor: Laminado
                  - nome: Valorização do imóvel
                    valor: (3) Média valorização
                  - nome: Marca
                    valor: ' - Eucafloor'
                  id_seller: '70'
                  preco_de: '130.63'
                  preco_por: '36.90'
                  estoque: '0.00'
                  sku: '106496'
                  tipo_entrega: ''
                  status: '0'
                  historico_validacao: '[]'
                  score: '0.00000'
                  datahora_criacao: '2018-03-13 20:01:41'
                  datahora_alteracao: '2018-03-13 20:01:41'
                  url: /piso-laminado-eucafloor-prime-7mmx19-7cmx1-35m-m2-1000213.html
                - id_produto_seller: '221'
                  id_produto: '1000199'
                  id_categoria: '11'
                  nivel_1: Móveis
                  nivel_2: Armários e Balcões
                  nivel_3: Criados-Mudos
                  nivel_4: ''
                  nivel_5: ''
                  nivel_6: ''
                  nivel_7: ''
                  nome: Ofurô Ouro Fino Heatiro Individual Standard 93cm x 83cm x 78cm 02 Jatos
                  descricao: ''
                  ean: '7898437943877'
                  marca: Ouro Fino
                  altura: '78.00000'
                  largura: '83.00000'
                  profundidade: '93.00000'
                  peso: '168.66000'
                  imagens:
                  - https://cdn2.madeiramadeira.com.br/ofuro-ouro-fino-heatiro-individual-standard-93cm-x-83cm-x-78cm-02-jatos1.jpg
                  - https://cdn2.madeiramadeira.com.br/ofuro-ouro-fino-heatiro-individual-standard-93cm-x-83cm-x-78cm-02-jatos2.jpg
                  video: ''
                  atributos:
                  - nome: Acabamento
                    valor: Gel Coat
                  - nome: Altura
                    valor: 78 cm
                  - nome: Ambiente
                    valor: Banheiro
                  - nome: Certificado
                    valor: Este produto possui certificado do INMETRO conforme portaria 351
                  - nome: Comprimento
                    valor: 93 cm
                  - nome: Formato
                    valor: Redondo
                  - nome: Garantia do Fornecedor
                    valor: 02 anos
                  - nome: Largura
                    valor: 83 cm
                  - nome: Material
                    valor: Gel Coat
                  - nome: Quantidade de Lugares
                    valor: 1 pessoa
                  - nome: Tamanho
                    valor: Standard
                  - nome: Voltagem
                    valor: Bivolt
                  - nome: Marca
                    valor: ' - Ouro Fino'
                  id_seller: '70'
                  preco_de: '2399.90'
                  preco_por: '2399.90'
                  estoque: '0.00'
                  sku: '10729'
                  tipo_entrega: ''
                  status: '0'
                  historico_validacao: '[]'
                  score: '0.00000'
                  datahora_criacao: '2018-03-13 18:05:06'
                  datahora_alteracao: '2018-03-13 18:05:06'
                  url: /ofuro-ouro-fino-heatiro-individual-standard-93cm-x-83cm-x-78cm-02-jatos-1000199.html
                - id_produto_seller: '235'
                  id_produto: '1000214'
                  id_categoria: '11'
                  nivel_1: Móveis
                  nivel_2: Armários e Balcões
                  nivel_3: Criados-Mudos
                  nivel_4: ''
                  nivel_5: ''
                  nivel_6: ''
                  nivel_7: ''
                  nome: Deck de Madeira Modular Base Madeira Isabela Revestimentos 50cm x 50cm (Placa)
                  descricao: " EstÃ¡ buscando transformar sua Ã¡rea externa? O Deck de Madeira Modular Isabela Ã© a soluÃ§Ã£o. Ã\x89 perfeito para quem estÃ¡ em busca de transformar seu lar agregando requinte, naturalidade e qualidade. AlÃ©m disso, o Deck de Madeira Modular Isabela Ã© um produto ecologicamente correto, pois a madeira nobre da qual Ã© feita Ã© usada racionalmente, respeitando os projetos de manejo aprovados pelo IBAMA."
                  ean: '7898959777066'
                  marca: Isabela Revestimentos
                  altura: '0.35000'
                  largura: '50.00000'
                  profundidade: '50.00000'
                  peso: '7.00000'
                  imagens:
                  - https://cdn2.madeiramadeira.com.br/deck-de-madeira-modular-base-madeira-isabela-revestimentos-50cm-x-50cm-placa-1.jpg
                  - https://cdn2.madeiramadeira.com.br/deck-de-madeira-modular-base-madeira-isabela-revestimentos-50cm-x-50cm-placa-2.jpg
                  - https://cdn2.madeiramadeira.com.br/deck-de-madeira-modular-base-madeira-isabela-revestimentos-50cm-x-50cm-placa-3.jpg
                  video: eQVl16oMTu0
                  atributos:
                  - nome: Altura
                    valor: 3,5 cm
                  - nome: Ambiente
                    valor: Jardim
                  - nome: Aparência
                    valor: Beleza natural da madeira, coloração marrom-claro ou marrom-amarelado
                  - nome: Comprimento
                    valor: 50 cm
                  - nome: Escala de Brilho
                    valor: Fosco
                  - nome: Espessura
                    valor: 35 mm
                  - nome: Garantia do Fornecedor
                    valor: 3 meses
                  - nome: Informações Técnicas
                    valor: '- Base na própria madeira fixada com parafusos, Pinos e cola

                      - Alta resistência e durabilidade

                      - Madeira lixada e boleada'
                  - nome: Largura
                    valor: 50 cm
                  - nome: Manutenção
                    valor: Aplicar Verniz Protetor como Cetol Deck, Polideck, Verniz Marítimo entre outros próprio para ficar exposto a sol e chuva.
                  - nome: Material
                    valor: Madeira
                  - nome: Meio ambiente
                    valor: Madeira de reflorestamento.
                  - nome: Peso por Caixa
                    valor: 28Kg
                  - nome: Resistência
                    valor: 'A madeira de Cumaru pode ser classificada como de alto peso específico, baixa retratibilidade e alta resistência mecânica, densidade da espécie: 940 KG/m3'
                  - nome: Tipo de Instalação
                    valor: Colocado
                  - nome: Marca
                    valor: ' - Isabela Revestimentos'
                  id_seller: '70'
                  preco_de: '43.57'
                  preco_por: '36.67'
                  estoque: '0.00'
                  sku: '107290'
                  tipo_entrega: ''
                  status: '0'
                  historico_validacao: '[]'
                  score: '0.00000'
                  datahora_criacao: '2018-03-13 20:01:52'
                  datahora_alteracao: '2018-03-13 20:01:52'
                  url: /deck-de-madeira-modular-base-madeira-isabela-revestimentos-50cm-x-50cm-placa-1000214.html
                - id_produto_seller: '222'
                  id_produto: '1000200'
                  id_categoria: '11'
                  nivel_1: Móveis
                  nivel_2: Armários e Balcões
                  nivel_3: Criados-Mudos
                  nivel_4: ''
                  nivel_5: ''
                  nivel_6: ''
                  nivel_7: ''
                  nome: Ofurô Ouro Fino Heatiro Individual Premium 93cm x 83cm x 78cm 02 Jatos
                  descricao: ''
                  ean: '7898437943860'
                  marca: Ouro Fino
                  altura: '78.00000'
                  largura: '93.00000'
                  profundidade: '93.00000'
                  peso: '168.66000'
                  imagens:
                  - https://cdn2.madeiramadeira.com.br/ofuro-ouro-fino-heatiro-individual-premium-93cm-x-83cm-x-78cm-02-jatos1.jpg
                  - https://cdn2.madeiramadeira.com.br/ofuro-ouro-fino-heatiro-individual-premium-93cm-x-83cm-x-78cm-02-jatos2.jpg
                  video: ''
                  atributos:
                  - nome: Acabamento
                    valor: Gel Coat
                  - nome: Altura
                    valor: 78 cm
                  - nome: Ambiente
                    valor: Banheiro
                  - nome: Certificado
                    valor: Este produto possui certificado do INMETRO conforme portaria 351
                  - nome: Coleção
                    valor: Ouro Fino Heatiro Individual
                  - nome: Comprimento
                    valor: 93 cm
                  - nome: Formato
                    valor: Redondo
                  - nome: Garantia do Fornecedor
                    valor: 02 anos
                  - nome: Largura
                    valor: 93 cm
                  - nome: Material
                    valor: Gel Coat
                  - nome: Quantidade de Lugares
                    valor: 1 pessoa
                  - nome: Tamanho
                    valor: Premium
                  - nome: Voltagem
                    valor: Bivolt
                  - nome: Marca
                    valor: ' - Ouro Fino'
                  id_seller: '70'
                  preco_de: '2299.90'
                  preco_por: '2299.90'
                  estoque: '0.00'
                  sku: '10732'
                  tipo_entrega: ''
                  status: '0'
                  historico_validacao: '[]'
                  score: '0.00000'
                  datahora_criacao: '2018-03-13 18:05:17'
                  datahora_alteracao: '2018-03-13 18:05:17'
                  url: /ofuro-ouro-fino-heatiro-individual-premium-93cm-x-83cm-x-78cm-02-jatos-1000200.html
                - id_produto_seller: '236'
                  id_produto: '1000215'
                  id_categoria: '11'
                  nivel_1: Móveis
                  nivel_2: Armários e Balcões
                  nivel_3: Criados-Mudos
                  nivel_4: ''
                  nivel_5: ''
                  nivel_6: ''
                  nivel_7: ''
                  nome: Cantoneira Durafloor 2cm x 20mm x 2,10m (Barra)
                  descricao: "Cantoneira Durafloor 2cm x 20mm x 2,10m (Barra) - caixa com 5 Barra(s) - Carvalho Colonial.\n CordÃ£o/Baquete(Cantoneira) permite um acabamento mais delicado entre a parede e o Durafloor"
                  ean: '7894200563242'
                  marca: Durafloor
                  altura: '0.20000'
                  largura: '2.00000'
                  profundidade: '210.00000'
                  peso: '0.27000'
                  imagens:
                  - https://cdn2.madeiramadeira.com.br/cantoneira-durafloor-2cm-x-20mm-x-2-10m-barra-1.jpg
                  video: ''
                  atributos:
                  - nome: Caixa
                    valor: 5 Barra(s)
                  - nome: Composição
                    valor: MDF
                  - nome: Comprimento
                    valor: 210 cm
                  - nome: Espessura
                    valor: 20 mm
                  - nome: Garantia do Fornecedor
                    valor: Uso Residência 07 anos // Uso Comercial 05 anos
                  - nome: Largura
                    valor: 2 cm
                  - nome: Marca
                    valor: ' - Durafloor'
                  id_seller: '70'
                  preco_de: '101.10'
                  preco_por: '12.64'
                  estoque: '0.00'
                  sku: '1088'
                  tipo_entrega: ''
                  status: '0'
                  historico_validacao: '[]'
                  score: '0.00000'
                  datahora_criacao: '2018-03-13 20:01:57'
                  datahora_alteracao: '2018-03-13 20:01:57'
                  url: /cantoneira-durafloor-2cm-x-20mm-x-2-10m-barra-1000215.html
                - id_produto_seller: '237'
                  id_produto: '1000216'
                  id_categoria: '11'
                  nivel_1: Móveis
                  nivel_2: Armários e Balcões
                  nivel_3: Criados-Mudos
                  nivel_4: ''
                  nivel_5: ''
                  nivel_6: ''
                  nivel_7: ''
                  nome: Piso Vinílico em Placa Mix and Match Isabela Revestimentos 50cmx50cmx3mm
                  descricao: "Piso VinÃ­lico em Placa Mix and Match Isabela Revestimentos 50cmx50cmx3mm - caixa com 5m2 - Bambu Preto.\n Os pisos em PVC tranÃ§ado da Isabela Revestimentos  dÃ£o a casa espaÃ§o um significado, trabalhando em harmonia com a caracterÃ­stica de casa ambiente. A luz, os tons e as formas incidem sobre as mais diferentes superfÃ­cies e estampas, criando efeitos visuais que agregam valor e estilo ao produto."
                  ean: '7909065000075'
                  marca: Isabela Revestimentos
                  altura: '0.03000'
                  largura: '50.00000'
                  profundidade: '50.00000'
                  peso: '3.31000'
                  imagens:
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm1.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm2.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm3.jpg
                  video: ''
                  atributos:
                  - nome: Caixa
                    valor: 5m2
                  - nome: Acabamento
                    valor: PVC
                  - nome: Ambiente
                    valor: Interno
                  - nome: Aparência
                    valor: Texturizado
                  - nome: Capa de Uso de PVC
                    valor: 0,5 mm
                  - nome: Coleção
                    valor: Mix and Match
                  - nome: Composição
                    valor: 90 % PVC  10% PES
                  - nome: Comprimento
                    valor: 50 cm
                  - nome: Conforto térmico
                    valor: (4) Médio - Alto
                  - nome: Emissão de ruídos
                    valor: (1) Baixa
                  - nome: Escala de Brilho
                    valor: Fosco
                  - nome: Espessura
                    valor: 3 mm
                  - nome: Garantia do Fornecedor
                    valor: 05 anos
                  - nome: Hipoalergênico
                    valor: Sim. Devido à sua característica de não retenção de poeira ou sujeira, torna-se um produto que afasta qualquer problema de alergia.
                  - nome: Informações Técnicas
                    valor: '- Acompanha manual de instalação e manutenção

                      - Produto térmico, reciclável e resistente

                      - Fácil instalação e manutenção

                      - Não propaga chama e não absorve água

                      - Piso em PVC trançado'
                  - nome: Largura
                    valor: 50 cm
                  - nome: Meio ambiente
                    valor: 100 % reciclável
                  - nome: Permite Reutilização
                    valor: Não
                  - nome: Recomendações de Uso, Manutenção e Limpeza
                    valor: Varrer o piso com vassoura de pêlo. Limpar o piso com detergente neutro, utilizando pano e rodo.
                  - nome: Resistência Química
                    valor: Resistente ao contato acidental de alguns agentes químicos usados em laboratórios ou residências, quando removidos imediatamente.
                  - nome: Tipo de Instalação
                    valor: Colado
                  - nome: Tipo de Piso
                    valor: Vinílico
                  - nome: Marca
                    valor: ' - Isabela Revestimentos'
                  id_seller: '70'
                  preco_de: '1049.50'
                  preco_por: '140.90'
                  estoque: '0.00'
                  sku: '110572'
                  tipo_entrega: ''
                  status: '0'
                  historico_validacao: '[]'
                  score: '0.00000'
                  datahora_criacao: '2018-03-13 20:02:14'
                  datahora_alteracao: '2018-03-13 20:02:14'
                  url: /piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm-1000216.html
                - id_produto_seller: '238'
                  id_produto: '1000217'
                  id_categoria: '11'
                  nivel_1: Móveis
                  nivel_2: Armários e Balcões
                  nivel_3: Criados-Mudos
                  nivel_4: ''
                  nivel_5: ''
                  nivel_6: ''
                  nivel_7: ''
                  nome: Piso Vinílico em Placa Mix and Match Isabela Revestimentos 50cmx50cmx3mm
                  descricao: "Piso VinÃ­lico em Placa Mix and Match Isabela Revestimentos 50cmx50cmx3mm - caixa com 5m2 - Bambu Bege.\n Os pisos em PVC tranÃ§ado da Isabela Revestimentos  dÃ£o a casa espaÃ§o um significado, trabalhando em harmonia com a caracterÃ­stica de casa ambiente. A luz, os tons e as formas incidem sobre as mais diferentes superfÃ­cies e estampas, criando efeitos visuais que agregam valor e estilo ao produto."
                  ean: '7909065000082'
                  marca: Isabela Revestimentos
                  altura: '0.03000'
                  largura: '50.00000'
                  profundidade: '50.00000'
                  peso: '3.31000'
                  imagens:
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm1.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm2.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm3.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm4.jpg
                  video: ''
                  atributos:
                  - nome: Caixa
                    valor: 5m2
                  - nome: Acabamento
                    valor: PVC
                  - nome: Ambiente
                    valor: Interno
                  - nome: Aparência
                    valor: Texturizado
                  - nome: Capa de Uso de PVC
                    valor: 0,5 mm
                  - nome: Coleção
                    valor: Mix and Match
                  - nome: Composição
                    valor: 90 % PVC  10% PES
                  - nome: Comprimento
                    valor: 50 cm
                  - nome: Conforto térmico
                    valor: (4) Médio - Alto
                  - nome: Emissão de ruídos
                    valor: (1) Baixa
                  - nome: Escala de Brilho
                    valor: Fosco
                  - nome: Espessura
                    valor: 3 mm
                  - nome: Garantia do Fornecedor
                    valor: 05 anos
                  - nome: Hipoalergênico
                    valor: Sim. Devido à sua característica de não retenção de poeira ou sujeira, torna-se um produto que afasta qualquer problema de alergia.
                  - nome: Informações Técnicas
                    valor: '- Acompanha manual de instalação e manutenção

                      - Produto térmico, reciclável e resistente

                      - Fácil instalação e manutenção

                      - Não propaga chama e não absorve água

                      - Piso em PVC trançado'
                  - nome: Largura
                    valor: 50 cm
                  - nome: Meio ambiente
                    valor: 100 % reciclável
                  - nome: Permite Reutilização
                    valor: Não
                  - nome: Recomendações de Uso, Manutenção e Limpeza
                    valor: Varrer o piso com vassoura de pêlo. Limpar o piso com detergente neutro, utilizando pano e rodo.
                  - nome: Resistência Química
                    valor: Resistente ao contato acidental de alguns agentes químicos usados em laboratórios ou residências, quando removidos imediatamente.
                  - nome: Tipo de Instalação
                    valor: Colado
                  - nome: Tipo de Piso
                    valor: Vinílico
                  - nome: Marca
                    valor: ' - Isabela Revestimentos'
                  id_seller: '70'
                  preco_de: '1049.50'
                  preco_por: '140.90'
                  estoque: '0.00'
                  sku: '110573'
                  tipo_entrega: ''
                  status: '0'
                  historico_validacao: '[]'
                  score: '0.00000'
                  datahora_criacao: '2018-03-13 20:02:30'
                  datahora_alteracao: '2018-03-13 20:02:30'
                  url: /piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm-1000217.html
                - id_produto_seller: '239'
                  id_produto: '1000218'
                  id_categoria: '11'
                  nivel_1: Móveis
                  nivel_2: Armários e Balcões
                  nivel_3: Criados-Mudos
                  nivel_4: ''
                  nivel_5: ''
                  nivel_6: ''
                  nivel_7: ''
                  nome: Piso Vinílico em Placa Mix and Match Isabela Revestimentos 50cmx50cmx3mm
                  descricao: "Piso VinÃ­lico em Placa Mix and Match Isabela Revestimentos 50cmx50cmx3mm - caixa com 5m2 - Bambu Grafite.\n Os pisos em PVC tranÃ§ado da Isabela Revestimentos  dÃ£o a casa espaÃ§o um significado, trabalhando em harmonia com a caracterÃ­stica de casa ambiente. A luz, os tons e as formas incidem sobre as mais diferentes superfÃ­cies e estampas, criando efeitos visuais que agregam valor e estilo ao produto."
                  ean: '7909065000099'
                  marca: Isabela Revestimentos
                  altura: '0.03000'
                  largura: '50.00000'
                  profundidade: '50.00000'
                  peso: '3.31000'
                  imagens:
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm1.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm2.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm3.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm4.jpg
                  video: ''
                  atributos:
                  - nome: Caixa
                    valor: 5m2
                  - nome: Acabamento
                    valor: PVC
                  - nome: Ambiente
                    valor: Interno
                  - nome: Aparência
                    valor: Texturizado
                  - nome: Capa de Uso de PVC
                    valor: 0,5 mm
                  - nome: Coleção
                    valor: Mix and Match
                  - nome: Composição
                    valor: 90 % PVC  10% PES
                  - nome: Comprimento
                    valor: 50 cm
                  - nome: Conforto térmico
                    valor: (4) Médio - Alto
                  - nome: Emissão de ruídos
                    valor: (1) Baixa
                  - nome: Escala de Brilho
                    valor: Fosco
                  - nome: Espessura
                    valor: 3 mm
                  - nome: Garantia do Fornecedor
                    valor: 05 anos
                  - nome: Hipoalergênico
                    valor: Sim. Devido à sua característica de não retenção de poeira ou sujeira, torna-se um produto que afasta qualquer problema de alergia.
                  - nome: Informações Técnicas
                    valor: '- Acompanha manual de instalação e manutenção

                      - Produto térmico, reciclável e resistente

                      - Fácil instalação e manutenção

                      - Não propaga chama e não absorve água

                      - Piso em PVC trançado'
                  - nome: Largura
                    valor: 50 cm
                  - nome: Meio ambiente
                    valor: 100 % reciclável
                  - nome: Permite Reutilização
                    valor: Não
                  - nome: Recomendações de Uso, Manutenção e Limpeza
                    valor: Varrer o piso com vassoura de pêlo. Limpar o piso com detergente neutro, utilizando pano e rodo.
                  - nome: Resistência Química
                    valor: Resistente ao contato acidental de alguns agentes químicos usados em laboratórios ou residências, quando removidos imediatamente.
                  - nome: Tipo de Instalação
                    valor: Colado
                  - nome: Tipo de Piso
                    valor: Vinílico
                  - nome: Marca
                    valor: ' - Isabela Revestimentos'
                  id_seller: '70'
                  preco_de: '1049.50'
                  preco_por: '140.90'
                  estoque: '0.00'
                  sku: '110574'
                  tipo_entrega: ''
                  status: '0'
                  historico_validacao: '[]'
                  score: '0.00000'
                  datahora_criacao: '2018-03-13 20:02:49'
                  datahora_alteracao: '2018-03-13 20:02:49'
                  url: /piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm-1000218.html
                - id_produto_seller: '240'
                  id_produto: '1000219'
                  id_categoria: '11'
                  nivel_1: Móveis
                  nivel_2: Armários e Balcões
                  nivel_3: Criados-Mudos
                  nivel_4: ''
                  nivel_5: ''
                  nivel_6: ''
                  nivel_7: ''
                  nome: Piso Vinílico em Placa Mix and Match Isabela Revestimentos 50cmx50cmx3mm
                  descricao: "Piso VinÃ­lico em Placa Mix and Match Isabela Revestimentos 50cmx50cmx3mm - caixa com 5m2 - Pixel Bege.\n Os pisos em PVC tranÃ§ado da Isabela Revestimentos  dÃ£o a casa espaÃ§o um significado, trabalhando em harmonia com a caracterÃ­stica de casa ambiente. A luz, os tons e as formas incidem sobre as mais diferentes superfÃ­cies e estampas, criando efeitos visuais que agregam valor e estilo ao produto."
                  ean: '7909065000143'
                  marca: Isabela Revestimentos
                  altura: '0.03000'
                  largura: '50.00000'
                  profundidade: '50.00000'
                  peso: '3.31000'
                  imagens:
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm1.jpg
                  video: ''
                  atributos:
                  - nome: Caixa
                    valor: 5m2
                  - nome: Ambiente
                    valor: Interno
                  - nome: Aparência
                    valor: Texturizado
                  - nome: Capa de Uso de PVC
                    valor: 0,5 mm
                  - nome: Composição
                    valor: 90 % PVC  10% PES
                  - nome: Comprimento
                    valor: 50 cm
                  - nome: Conforto térmico
                    valor: (4) Médio - Alto
                  - nome: Emissão de ruídos
                    valor: (1) Baixa
                  - nome: Escala de Brilho
                    valor: Fosco
                  - nome: Espessura
                    valor: 3 mm
                  - nome: Garantia do Fornecedor
                    valor: 05 anos
                  - nome: Hipoalergênico
                    valor: Sim. Devido à sua característica de não retenção de poeira ou sujeira, torna-se um produto que afasta qualquer problema de alergia.
                  - nome: Informações Técnicas
                    valor: '- Acompanha manual de instalação e manutenção

                      - Produto térmico, reciclável e resistente

                      - Fácil instalação e manutenção

                      - Não propaga chama e não absorve água

                      - Piso em PVC trançado'
                  - nome: Largura
                    valor: 50 cm
                  - nome: Meio ambiente
                    valor: 100 % reciclável
                  - nome: Permite Reutilização
                    valor: Não
                  - nome: Recomendações de Uso, Manutenção e Limpeza
                    valor: Varrer o piso com vassoura de pêlo. Limpar o piso com detergente neutro, utilizando pano e rodo.
                  - nome: Resistência Química
                    valor: Resistente ao contato acidental de alguns agentes químicos usados em laboratórios ou residências, quando removidos imediatamente.
                  - nome: Tipo de Instalação
                    valor: Colado
                  - nome: Tipo de Piso
                    valor: Vinílico
                  - nome: Marca
                    valor: ' - Isabela Revestimentos'
                  id_seller: '70'
                  preco_de: '1049.50'
                  preco_por: '140.90'
                  estoque: '0.00'
                  sku: '110579'
                  tipo_entrega: ''
                  status: '0'
                  historico_validacao: '[]'
                  score: '0.00000'
                  datahora_criacao: '2018-03-13 20:02:52'
                  datahora_alteracao: '2018-03-13 20:02:52'
                  url: /piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm-1000219.html
                - id_produto_seller: '241'
                  id_produto: '1000220'
                  id_categoria: '11'
                  nivel_1: Móveis
                  nivel_2: Armários e Balcões
                  nivel_3: Criados-Mudos
                  nivel_4: ''
                  nivel_5: ''
                  nivel_6: ''
                  nivel_7: ''
                  nome: Piso Vinílico em Placa Mix and Match Isabela Revestimentos 50cmx50cmx3mm
                  descricao: "Piso VinÃ­lico em Placa Mix and Match Isabela Revestimentos 50cmx50cmx3mm - caixa com 5m2 - Pixel Preto.\n Os pisos em PVC tranÃ§ado da Isabela Revestimentos  dÃ£o a casa espaÃ§o um significado, trabalhando em harmonia com a caracterÃ­stica de casa ambiente. A luz, os tons e as formas incidem sobre as mais diferentes superfÃ­cies e estampas, criando efeitos visuais que agregam valor e estilo ao produto."
                  ean: '7909065000150'
                  marca: Isabela Revestimentos
                  altura: '0.03000'
                  largura: '50.00000'
                  profundidade: '50.00000'
                  peso: '3.31000'
                  imagens:
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm1.jpg
                  video: ''
                  atributos:
                  - nome: Caixa
                    valor: 5m2
                  - nome: Acabamento
                    valor: PVC
                  - nome: Ambiente
                    valor: Interno
                  - nome: Aparência
                    valor: Texturizado
                  - nome: Capa de Uso de PVC
                    valor: 0,5 mm
                  - nome: Coleção
                    valor: Mix and Match
                  - nome: Composição
                    valor: 90 % PVC  10% PES
                  - nome: Comprimento
                    valor: 50 cm
                  - nome: Conforto térmico
                    valor: (4) Médio - Alto
                  - nome: Emissão de ruídos
                    valor: (1) Baixa
                  - nome: Escala de Brilho
                    valor: Fosco
                  - nome: Espessura
                    valor: 3 mm
                  - nome: Garantia do Fornecedor
                    valor: 05 anos
                  - nome: Hipoalergênico
                    valor: Sim. Devido à sua característica de não retenção de poeira ou sujeira, torna-se um produto que afasta qualquer problema de alergia.
                  - nome: Informações Técnicas
                    valor: '- Acompanha manual de instalação e manutenção

                      - Produto térmico, reciclável e resistente

                      - Fácil instalação e manutenção

                      - Não propaga chama e não absorve água

                      - Piso em PVC trançado'
                  - nome: Largura
                    valor: 50 cm
                  - nome: Meio ambiente
                    valor: 100 % reciclável
                  - nome: Permite Reutilização
                    valor: Não
                  - nome: Recomendações de Uso, Manutenção e Limpeza
                    valor: Varrer o piso com vassoura de pêlo. Limpar o piso com detergente neutro, utilizando pano e rodo.
                  - nome: Resistência Química
                    valor: Resistente ao contato acidental de alguns agentes químicos usados em laboratórios ou residências, quando removidos imediatamente.
                  - nome: Tipo de Instalação
                    valor: Colado
                  - nome: Tipo de Piso
                    valor: Vinílico
                  - nome: Marca
                    valor: ' - Isabela Revestimentos'
                  id_seller: '70'
                  preco_de: '1049.50'
                  preco_por: '140.90'
                  estoque: '0.00'
                  sku: '110580'
                  tipo_entrega: ''
                  status: '0'
                  historico_validacao: '[]'
                  score: '0.00000'
                  datahora_criacao: '2018-03-13 20:02:56'
                  datahora_alteracao: '2018-03-13 20:02:56'
                  url: /piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm-1000220.html
                - id_produto_seller: '242'
                  id_produto: '1000221'
                  id_categoria: '11'
                  nivel_1: Móveis
                  nivel_2: Armários e Balcões
                  nivel_3: Criados-Mudos
                  nivel_4: ''
                  nivel_5: ''
                  nivel_6: ''
                  nivel_7: ''
                  nome: Piso Vinílico em Placa Mix and Match Isabela Revestimentos 50cmx50cmx3mm
                  descricao: "Piso VinÃ­lico em Placa Mix and Match Isabela Revestimentos 50cmx50cmx3mm - caixa com 5m2 - Linho Marrom.\n Os pisos em PVC tranÃ§ado da Isabela Revestimentos  dÃ£o a casa espaÃ§o um significado, trabalhando em harmonia com a caracterÃ­stica de casa ambiente. A luz, os tons e as formas incidem sobre as mais diferentes superfÃ­cies e estampas, criando efeitos visuais que agregam valor e estilo ao produto."
                  ean: '7909065000174'
                  marca: Isabela Revestimentos
                  altura: '0.03000'
                  largura: '50.00000'
                  profundidade: '50.00000'
                  peso: '3.31000'
                  imagens:
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm1.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm2.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm3.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm4.jpg
                  video: ''
                  atributos:
                  - nome: Caixa
                    valor: 5m2
                  - nome: Acabamento
                    valor: PVC
                  - nome: Ambiente
                    valor: Interno
                  - nome: Aparência
                    valor: Texturizado
                  - nome: Capa de Uso de PVC
                    valor: 0,5 mm
                  - nome: Coleção
                    valor: Mix and Match
                  - nome: Composição
                    valor: 90 % PVC  10% PES
                  - nome: Comprimento
                    valor: 50 cm
                  - nome: Conforto térmico
                    valor: (4) Médio - Alto
                  - nome: Emissão de ruídos
                    valor: (1) Baixa
                  - nome: Escala de Brilho
                    valor: Fosco
                  - nome: Espessura
                    valor: 3 mm
                  - nome: Garantia do Fornecedor
                    valor: 05 anos
                  - nome: Hipoalergênico
                    valor: Sim. Devido à sua característica de não retenção de poeira ou sujeira, torna-se um produto que afasta qualquer problema de alergia.
                  - nome: Informações Técnicas
                    valor: '- Acompanha manual de instalação e manutenção

                      - Produto térmico, reciclável e resistente

                      - Fácil instalação e manutenção

                      - Não propaga chama e não absorve água

                      - Piso em PVC trançado'
                  - nome: Largura
                    valor: 50 cm
                  - nome: Meio ambiente
                    valor: 100 % reciclável
                  - nome: Permite Reutilização
                    valor: Não
                  - nome: Recomendações de Uso, Manutenção e Limpeza
                    valor: Varrer o piso com vassoura de pêlo. Limpar o piso com detergente neutro, utilizando pano e rodo.
                  - nome: Resistência Química
                    valor: Resistente ao contato acidental de alguns agentes químicos usados em laboratórios ou residências, quando removidos imediatamente.
                  - nome: Tipo de Instalação
                    valor: Colado
                  - nome: Tipo de Piso
                    valor: Vinílico
                  - nome: Marca
                    valor: ' - Isabela Revestimentos'
                  id_seller: '70'
                  preco_de: '1049.50'
                  preco_por: '140.90'
                  estoque: '0.00'
                  sku: '110582'
                  tipo_entrega: ''
                  status: '0'
                  historico_validacao: '[]'
                  score: '0.00000'
                  datahora_criacao: '2018-03-13 20:03:11'
                  datahora_alteracao: '2018-03-13 20:03:11'
                  url: /piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm-1000221.html
                - id_produto_seller: '243'
                  id_produto: '1000222'
                  id_categoria: '11'
                  nivel_1: Móveis
                  nivel_2: Armários e Balcões
                  nivel_3: Criados-Mudos
                  nivel_4: ''
                  nivel_5: ''
                  nivel_6: ''
                  nivel_7: ''
                  nome: Piso Vinílico em Placa Mix and Match Isabela Revestimentos 50cmx50cmx3mm
                  descricao: "Piso VinÃ­lico em Placa Mix and Match Isabela Revestimentos 50cmx50cmx3mm - caixa com 5m2 - Linho PB.\n Os pisos em PVC tranÃ§ado da Isabela Revestimentos  dÃ£o a casa espaÃ§o um significado, trabalhando em harmonia com a caracterÃ­stica de casa ambiente. A luz, os tons e as formas incidem sobre as mais diferentes superfÃ­cies e estampas, criando efeitos visuais que agregam valor e estilo ao produto."
                  ean: '7909065000181'
                  marca: Isabela Revestimentos
                  altura: '0.03000'
                  largura: '50.00000'
                  profundidade: '50.00000'
                  peso: '3.31000'
                  imagens:
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm1.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm2.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm3.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm4.jpg
                  video: ''
                  atributos:
                  - nome: Caixa
                    valor: 5m2
                  - nome: Acabamento
                    valor: PVC
                  - nome: Ambiente
                    valor: Interno
                  - nome: Aparência
                    valor: Texturizado
                  - nome: Capa de Uso de PVC
                    valor: 0,5 mm
                  - nome: Coleção
                    valor: Mix and Match
                  - nome: Composição
                    valor: 90 % PVC  10% PES
                  - nome: Comprimento
                    valor: 50 cm
                  - nome: Conforto térmico
                    valor: (4) Médio - Alto
                  - nome: Emissão de ruídos
                    valor: (1) Baixa
                  - nome: Escala de Brilho
                    valor: Fosco
                  - nome: Espessura
                    valor: 3 mm
                  - nome: Garantia do Fornecedor
                    valor: 05 anos
                  - nome: Hipoalergênico
                    valor: Sim. Devido à sua característica de não retenção de poeira ou sujeira, torna-se um produto que afasta qualquer problema de alergia.
                  - nome: Informações Técnicas
                    valor: '- Acompanha manual de instalação e manutenção

                      - Produto térmico, reciclável e resistente

                      - Fácil instalação e manutenção

                      - Não propaga chama e não absorve água

                      - Piso em PVC trançado'
                  - nome: Largura
                    valor: 50 cm
                  - nome: Meio ambiente
                    valor: 100 % reciclável
                  - nome: Permite Reutilização
                    valor: Não
                  - nome: Recomendações de Uso, Manutenção e Limpeza
                    valor: Varrer o piso com vassoura de pêlo. Limpar o piso com detergente neutro, utilizando pano e rodo.
                  - nome: Resistência Química
                    valor: Resistente ao contato acidental de alguns agentes químicos usados em laboratórios ou residências, quando removidos imediatamente.
                  - nome: Tipo de Instalação
                    valor: Colado
                  - nome: Tipo de Piso
                    valor: Vinílico
                  - nome: Marca
                    valor: ' - Isabela Revestimentos'
                  id_seller: '70'
                  preco_de: '1049.50'
                  preco_por: '140.90'
                  estoque: '0.00'
                  sku: '110583'
                  tipo_entrega: ''
                  status: '0'
                  historico_validacao: '[]'
                  score: '0.00000'
                  datahora_criacao: '2018-03-13 20:03:33'
                  datahora_alteracao: '2018-03-13 20:03:33'
                  url: /piso-vinilico-em-placa-mix-and-match-isabela-revestimentos-50cmx50cmx3mm-1000222.html
                - id_produto_seller: '244'
                  id_produto: '1000223'
                  id_categoria: '11'
                  nivel_1: Móveis
                  nivel_2: Armários e Balcões
                  nivel_3: Criados-Mudos
                  nivel_4: ''
                  nivel_5: ''
                  nivel_6: ''
                  nivel_7: ''
                  nome: Piso Laminado em Régua Ritz Durafloor 7mmx18,7cmx1,34m (m²)
                  descricao: "Piso Laminado em RÃ©gua Ritz Durafloor 7mmx18,7cmx1,34m (mÂ²) - caixa com 2m2 - Pecan Cairo.\n Sua textura linheira foi desenvolvida a partir da tora da madeira em padrÃµes que seguem as Ãºltimas tendÃªncias na decoraÃ§Ã£o de interiores. A linha Ritz tem comprimento de 1340 mm o que garante tambÃ©m maior rapidez na aplicaÃ§Ã£o."
                  ean: '7894200804130'
                  marca: Durafloor
                  altura: '0.07000'
                  largura: '18.70000'
                  profundidade: '134.00000'
                  peso: '6.48000'
                  imagens:
                  - https://cdn2.madeiramadeira.com.br/piso-laminado-em-regua-ritz-durafloor-7mmx18-7cmx1-34m-m2-1.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-laminado-em-regua-ritz-durafloor-7mmx18-7cmx1-34m-m2-2.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-laminado-em-regua-ritz-durafloor-7mmx18-7cmx1-34m-m2-3.jpg
                  - https://cdn2.madeiramadeira.com.br/piso-laminado-em-regua-ritz-durafloor-7mmx18-7cmx1-34m-m2-4.jpg
                  video: 3VHDK8su9w4
                  atributos:
                  - nome: Caixa
                    valor: 2m2
                  - nome: Acabamento
                    valor: Filme melamínico
                  - nome: Acompanha Ficha Técnica
                    valor: Não
[...]
