openapi: 3.2.0
info:
  title: MadeiraMadeira Marketplace Financeiro API
  version: v1
  summary: Seller-facing marketplace API for products, categories, stock, price, shipping tables, orders, financial entries and seller-buyer messaging.
  description: 'Introdução


    Bem-vindo ao Marketplace MadeiraMadeira!'
  contact:
    name: MadeiraMadeira Marketplace
    url: https://www.madeiramadeira.com.br/marketplace
  x-derived-from: Public Postman collection "Marketplace MadeiraMadeira" published by MadeiraMadeira (documenter.getpostman.com/view/3341659/RztmqU19)
servers:
- url: https://marketplace.madeiramadeira.com.br
  description: Producao (production)
- url: https://marketplace-sandbox.madeiramadeira.com.br
  description: Sandbox
security:
- TOKENMM: []
tags:
- name: Financeiro
paths:
  /v1/financeiro/lancamento/date_from={date_from}&date_to={date_to}&limit={limit}&offset={offset}&type=7:
    get:
      operationId: consultaLancamentoFinanceiroDeSaqueESeuDetalhamento
      summary: Consulta lançamento financeiro de saque e seu detalhamento
      tags:
      - Financeiro
      parameters:
      - name: date_from
        in: path
        required: true
        schema:
          type: string
      - name: date_to
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: path
        required: true
        schema:
          type: string
      - name: offset
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Consulta lançamento financeiro de saque e seu detalhamento
          content:
            application/json:
              example:
                meta:
                  count: 1
                data:
                - id_lancamento_financeiro: '5'
                  id_pedido: null
                  id_seller: '123'
                  id_tipo_lancamento: '7'
                  tipo_lancamento: Saque
                  data: '2022-01-01'
                  descricao: Saque
                  valor: '-999.50'
                  data_previsao_pagamento: '2022-01-05'
                  data_pagamento: '2022-01-05'
                  data_liberacao: '2022-01-05'
                  detalhamento: '[{"data": "2021-01-01", "valor": "-0.50", "descricao": "Comissão", "id_pedido": "1", "pedido_pai": "1", "pedido_filho": "2", "data_liberacao": "2021-01-01", "id_tipo_lancamento": "3", "descricao_lancamento": null, "id_lancamento_financeiro": "1"}, {"data": "2021-01-01", "valor": "1000.00", "descricao": "Venda", "id_pedido": "1", "pedido_pai": "1", "pedido_filho": "2", "data_liberacao": "2021-01-01", "id_tipo_lancamento": "2", "descricao_lancamento": null, "id_lancamento_financeiro": "2"}]'
                  status: Repassado
                  ind_fatura_valida: '0'
                errors: []
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
components:
  schemas:
    Error:
      type: object
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
        errors:
          type: object
          properties:
            detail:
              type: string
      example:
        meta:
          count: 0
        errors:
          detail: Token not found
  securitySchemes:
    TOKENMM:
      type: apiKey
      in: header
      name: TOKENMM
      description: Seller token issued in the Portal Marketplace under Administracao > Integracao. Bound to the seller account; requires a completed registration with signed Terms and Conditions.
    BearerJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT issued by the Mensageria auth endpoint (POST /v1/mensageria/auth/generate-token) via Keycloak, exchanged for an MMTOKEN. Used by the Mensageria (messaging) surface.
