openapi: 3.2.0
info:
  title: MadeiraMadeira Marketplace Categorias API
  version: v1
  summary: Seller-facing marketplace API for products, categories, stock, price, shipping tables, orders, financial entries and seller-buyer messaging.
  description: 'Introdução


    Bem-vindo ao Marketplace MadeiraMadeira!'
  contact:
    name: MadeiraMadeira Marketplace
    url: https://www.madeiramadeira.com.br/marketplace
  x-derived-from: Public Postman collection "Marketplace MadeiraMadeira" published by MadeiraMadeira (documenter.getpostman.com/view/3341659/RztmqU19)
servers:
- url: https://marketplace.madeiramadeira.com.br
  description: Producao (production)
- url: https://marketplace-sandbox.madeiramadeira.com.br
  description: Sandbox
security:
- TOKENMM: []
tags:
- name: Categorias
paths:
  /v1/categoria/limit=100000&offset=0:
    get:
      operationId: consultaArvoreDeCategorias2
      summary: Consulta árvore de categorias
      tags:
      - Categorias
      description: Listar todas as categorias
      responses:
        '200':
          description: Consulta árvore de categorias
          content:
            application/json:
              example:
                meta:
                  count: '2378'
                data:
                - id_categoria: '1'
                  id_nivel_1: '560'
                  nivel_1: Aquecedor Solar
                  id_nivel_2: '562'
                  nivel_2: Coletor Solar / Placa
                  id_nivel_3: '0'
                  nivel_3: ''
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1273'
                  nome_completo_fc: Ar e Ventilação / Aquecedores de Água / Coletores Solares
                  comissionamento: '19.99'
                - id_categoria: '2'
                  id_nivel_1: '560'
                  nivel_1: Aquecedor Solar
                  id_nivel_2: '563'
                  nivel_2: Controlador Digital
                  id_nivel_3: '0'
                  nivel_3: ''
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1275'
                  nome_completo_fc: Ar e Ventilação / Aquecedores de Água / Controladores Digitais
                  comissionamento: '19.99'
                - id_categoria: '3'
                  id_nivel_1: '560'
                  nivel_1: Aquecedor Solar
                  id_nivel_2: '561'
                  nivel_2: Reservatório Térmico / Boiler
                  id_nivel_3: '0'
                  nivel_3: ''
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1274'
                  nome_completo_fc: Ar e Ventilação / Aquecedores de Água / Boilers
                  comissionamento: '19.99'
                - id_categoria: '4'
                  id_nivel_1: '836'
                  nivel_1: Ar e Ventilação
                  id_nivel_2: '1569'
                  nivel_2: Aquecedores de Ambiente
                  id_nivel_3: '0'
                  nivel_3: ''
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '805'
                  nome_completo_fc: Aquecedor de Ambiente
                  comissionamento: '19.99'
                - id_categoria: '5'
                  id_nivel_1: '836'
                  nivel_1: Ar e Ventilação
                  id_nivel_2: '1438'
                  nivel_2: Ar Condicionado
                  id_nivel_3: '1582'
                  nivel_3: Janela
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1986'
                  nome_completo_fc: Ar e Ventilação / Ar Condicionado / Janela
                  comissionamento: '19.99'
                - id_categoria: '6'
                  id_nivel_1: '836'
                  nivel_1: Ar e Ventilação
                  id_nivel_2: '1438'
                  nivel_2: Ar Condicionado
                  id_nivel_3: '1442'
                  nivel_3: Split
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1849'
                  nome_completo_fc: Ar e Ventilação / Ar Condicionado / Split
                  comissionamento: '19.99'
                - id_categoria: '7'
                  id_nivel_1: '836'
                  nivel_1: Ar e Ventilação
                  id_nivel_2: '1438'
                  nivel_2: Ar Condicionado
                  id_nivel_3: '1579'
                  nivel_3: Split Piso Teto
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1972'
                  nome_completo_fc: Ar e Ventilação / Ar Condicionado / Split Piso Teto
                  comissionamento: '19.99'
                - id_categoria: '8'
                  id_nivel_1: '836'
                  nivel_1: Ar e Ventilação
                  id_nivel_2: '973'
                  nivel_2: Circuladores de Ar
                  id_nivel_3: '0'
                  nivel_3: ''
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1823'
                  nome_completo_fc: Ar e Ventilação / Circuladores de Ar
                  comissionamento: '19.99'
                - id_categoria: '9'
                  id_nivel_1: '836'
                  nivel_1: Ar e Ventilação
                  id_nivel_2: '993'
                  nivel_2: Cortinas de Ar
                  id_nivel_3: '0'
                  nivel_3: ''
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1912'
                  nome_completo_fc: Ar e Ventilação / Cortinas de Ar
                  comissionamento: '19.99'
                - id_categoria: '10'
                  id_nivel_1: '836'
                  nivel_1: Ar e Ventilação
                  id_nivel_2: '837'
                  nivel_2: Exaustores
                  id_nivel_3: '0'
                  nivel_3: ''
                  id_nivel_4: '0'
                  nivel_4: null
                  id_nivel_5: '0'
                  nivel_5: null
                  id_nivel_6: '0'
                  nivel_6: null
                  id_nivel_7: '0'
                  nivel_7: null
                  fc_id: '1124'
                  nome_completo_fc: Ar e Ventilação / Exaustores
                  comissionamento: '19.99'
                errors: []
        '400':
          description: Erro no JSON enviado (verificar estrutura e enviar novamente)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Ausencia de um dos tokens no header ou token nao existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Token revogado ou invalido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro interno de servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - TOKENMM: []
components:
  schemas:
    Error:
      type: object
      properties:
        meta:
          type: object
          properties:
            count:
              type: integer
        errors:
          type: object
          properties:
            detail:
              type: string
      example:
        meta:
          count: 0
        errors:
          detail: Token not found
  securitySchemes:
    TOKENMM:
      type: apiKey
      in: header
      name: TOKENMM
      description: Seller token issued in the Portal Marketplace under Administracao > Integracao. Bound to the seller account; requires a completed registration with signed Terms and Conditions.
    BearerJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT issued by the Mensageria auth endpoint (POST /v1/mensageria/auth/generate-token) via Keycloak, exchanged for an MMTOKEN. Used by the Mensageria (messaging) surface.
